/*Definiendo colores de la interfaz*/
:root{
    --navy: #070A52;
    --red1: #ED2B2A;
}


/*Formateando el documento*/
*{
    border: 0;
    margin: 0;
    padding: 0;
}


/*Aplicanto la grilla al body*/
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 7210px 180px;
    grid-gap: 20px;
    background: #E4DCCF;
}

/*Aplicando la grilla a cada parte*/
#cabeza{
    grid-column: 1;
    grid-row: 1;
    background-color: var(--red1);
}

#principal{
    grid-column: 1;
    grid-row: 2;
}

#pie_pagina{
    grid-column: 1;
    grid-row: 3;

    overflow-x: hidden;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25px 100px 25px;
    gap: 2% 0;
    grid-template-areas: 
    "sociales sociales"
    "empresa contacto"
    "derechos derechos";
    
    background: var(--navy);
    bottom: 0;
    color: white;
}


#footer_sociales{
    grid-area: sociales;
    display: flex;
}

#footer_info{
    grid-area: empresa;
}

#footer_contacto{
    grid-area: contacto;
}

#footer_derechos{
    grid-area: derechos;
}


