/*Definiendo colores de la interfaz*/
:root{
    --navy: #070A52;
    --red1: #ED2B2A;
}

/*Formateando el documento*/
*{
    border: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*Aplicanto la grilla al body*/
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 8910px 180px;
    grid-gap: 20px;
    background: #E4DCCF;
    font-family: 'Assistant', sans-serif;
}

/*Aplicando la grilla a cada parte*/
#cabeza{
    grid-column: 1;
    grid-row: 1;
    background-color: var(--red1);
}

#principal{
    grid-column: 1;
    grid-row: 2;
}

#pie_pagina{
    grid-column: 1;
    grid-row: 3;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25px 100px 25px;
    gap: 2% 0;
    grid-template-areas: 
    "sociales sociales"
    "empresa contacto"
    "derechos derechos";

    background: var(--navy);
    bottom: 0;
    color: white;
}

#footer_sociales{
    grid-area: sociales;
    display: flex;
}

#footer_info{
    grid-area: empresa;
}

#footer_contacto{
    grid-area: contacto;
}

#footer_derechos{
    grid-area: derechos;
}

/*Estilos de imagenes de sección*/
.picture_seccion{
    margin: 0 auto;
    display: flex;
    width: 90%;
}

/*Estilos para todas las imagenes*/
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Definición del tamaño del main (Principal)*/
#principal{
    width: 100%;
}

/*Estilos de las secciones*/
.seccion{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}

/*Tiulos y subtitulos*/
#titulo_pagina{
    text-align: center;
    margin: 10px 0 25px 0;
    font-size: 40px;
}

.subtitulo{
    text-align: center;
    margin: 10px 0 18px 0;
    font-size: 28px;
}

.titulo3{
    margin: 10px 0 18px 5%;
    font-size: 21px;
}

/*Estilos de los parrafos*/
.parrafo{
    text-align: justify;
}

.parrafo_1{
    margin: 0 0 13px 0;
}

.parrafo_2{
    margin: 0 0 10px 0;
}

.parrafo_final{
    margin: 0 0 17px 0;
}
