/*Estilos al header con el nav*/
#cabeza{
    display: flex;
    justify-content: space-between;

}

#picture_logo{
    display: flex;
    width: 120px;
    height: 80px;
    margin: -5px 0 0 15px;
}

#logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#menu{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0 50px 0 0;
}

.btn_nav{
    text-decoration: none;
    background: transparent;
    width: 80px;
    text-align: center;
    padding: 10px 1px;
    color: white;
    margin: 0 -20px 0 0;
    border-top: var(--navy) 0.3em solid;
}

.btn_nav:hover{
    transition: all 1.1s ease-in-out;
    background: var(--navy);
}

@media screen and (max-width:720px){

    body{
        grid-template-rows: 110px 9190px 268px;
    }

    /*Responsivo:Menu Horizontal*/
    #picture_logo{
        width: 110px;
        height: 70px;
        margin: 20px 0 0 15px;
    }

    #menu{
        
        justify-content: center;
        font-size: 14px;
    }

}
    
@media screen and (max-width:480px){

    body{
        grid-template-rows: 230px 9340px 280px;
    }

    /*Responvio: Header*/
    #picture_logo{
        width: 130px;
        height: 90px;
        margin: 80px 0 0 20px;
    }

    #menu{
        display: flex; 
        flex-wrap: wrap;
        gap: 5px;
        padding-right: 3%;
    }

    .btn_nav{
        width: 90px;
        height: 17px;
    }
}


 