@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('./base.css');
@import url('./header.css');
@import url('./footer.css');



/*Definición del tamaño del main (Principal)*/
#principal{
    width: 100%;
}


/*Estilos a las redes sociales de la banda*/

#sociales{
    display: block;
    width: 45px;
    position: fixed; 
	right: 0;
	top: 140px;
	z-index: 2000;
    background: var(--navy);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn_social{
    width: 50px;
    height: 50px;
}

.img_social{
    color: white;
    font-size: 30px;
    margin: 5px 5px 5px 5px;
}

.img_social:hover{
    transition: all .6s ease;
    color: var(--red1);
}




/*Estilos de las secciones*/
.seccion{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}


/*Tiulos y subtitulos*/

#titulo_pagina{
    text-align: center;
    margin: 10px 0 25px 0;
    font-size: 40px;
}

.subtitulo{
    text-align: center;
    margin: 10px 0 18px 0;
    font-size: 28px;
}

.titulo3{
    margin: 10px 0 18px 5%;
    font-size: 21px;
}



/*Estilos de los parrafos*/
.parrafo{
    text-align: justify;
}

.parrafo_1{
    margin: 0 0 13px 0;
}

.parrafo_2{
    margin: 0 0 10px 0;
}

.parrafo_final{
    margin: 0 0 17px 0;
}


/*Estilos de imagenes*/
.picture_seccion{
    margin: 0 auto;
    display: flex;
    width: 90%;
}

.img_seccion{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/*Sección de integrantes*/
.seccion_integrantes{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100%;
    margin: 0 0 20px 0;

    border: 1.5px solid black;
    padding: 10px 0 10px 0;
    border-radius: 15px;
}

.picture_integrantes{
    grid-column: 1/1;
    width: 70%;
    height: 80%;
    margin-left: 15%;
}

.picture_integrantes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto_integrantes{
    grid-column: 2/2;
}

.nombre_integrante{
    padding: 20px 0 15px 0;
    font-size: 18px;

}

#parrafo_cita{
    text-align: center;
}

#cita{
    text-align: center;
    font-style: italic;
    margin: 0 0 20px 0;
}


/*Seccion discografia*/
#canciones_top{
    margin: 0 0 20px 10%;
}

.articulo_album{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100%;
    margin: 0 0 20px 0;

    border: 1.5px solid black;
    padding: 10px 0 10px 0;
    border-radius: 15px;
}

.picture_album{
    grid-column: 1/1;
    width: 55%;
    margin: 0 auto;
    
}

.picture_album img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion_album{
    grid-column: 2/2;
}

.nombre_album{
    font-size: 18px;
    margin: 0 0 10px 0;
}



/*Sección del formulario*/

#suscribete{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 250px;
    gap: 1% 0;
    grid-template-areas: 
    "cabeza cabeza"
    "imagen formulario";

    border: 1px solid var(--navy);
    border-radius: 5px;
}

#article_suscribete{
    grid-area: cabeza;
}

#pciture_img_formulario{
    grid-area: imagen;
    width: 100%;
    height: 100%;
}

#pciture_img_formulario img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#formulario{
    grid-area: formulario;
}


#formulario{
    margin-top: 8%;
}

.form_label{
    margin: 0 2% 0 0;
}

#form_label_email{
    margin: 0 4.7% 0 0;
}

.form_input{
    width: 50%;
    height: 25px;
    margin: 0 0 2.1% 0;
    border-bottom: 1px solid var(--navy);
    border-radius: 4px;
}

#terminos{
    margin: 3% 0 0 0;
    cursor: pointer;
}

#form_btn{
    width: 35%;
    height: 31px;
    margin: 6% 0 0 20%;
    cursor: pointer;
    background-color: var(--red1);
    color: white;
    border-radius: 5px;
    border-bottom: 1px solid var(--navy);
}


/*Responsivo screen 720px*/
@media screen and (max-width:720px){

    body{
        grid-template-rows: 110px 7990px 268px;
    }

    /*Responsivo:Menu Horizontal*/

    
    #picture_logo{
        width: 110px;
        height: 70px;
    }

    #menu{
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
    }


    /*Responsivo: Redes sociales*/
    #sociales{
        width: 35px;
    }

    .img_social{
        font-size: 20px;
    }



    /*Titulos, subtitulos, titulos de 3 nivel*/

    #titulo_pagina{
        font-size: 30px;
    }
    
    .subtitulo{
        font-size: 24px;
    }
    
    .titulo3{
        font-size: 18px;
    }


    /*Responsivo: Integrantes*/
    .seccion_integrantes{
        grid-template-columns: 100%;
        grid-template-rows: 200px 1fr;
        margin: 0 0 20px 0;
        padding: 10px 0 10px 0;
    }
    
    .picture_integrantes{
        margin-left: 12.5%;
        width: 70%;
        height: 90%;
    }
    
    .texto_integrantes{
        grid-column: 1/2;
        margin: 0 0 15px 2.5px;
    }
    
    .nombre_integrante{
        padding: 20px 0 15px 0;
        font-size: 18px;
        text-align: center;
    }

    
    /*Responsivo: Discografia*/

    .articulo_album{
        grid-template-columns: 100%;
        grid-template-rows: 200px 1fr;
        margin: 0 0 20px 0;
    
        padding: 10px 0 10px 0;
    }
    
    .picture_album{
        grid-column: 1/1;
        width: 55%;
        margin: 0 auto;
        
    }
    
    .seccion_album{
        grid-column: 1/2;
    }
    
    .nombre_album{
        font-size: 18px;
        margin: 15px 0 13px 0;
        text-align: center;
    }
    
    .lista_canciones{
        margin: 10px 0 10px 13%;
    }


    /*Responsivo: Formulario*/
    #suscribete{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 150px 235px;
        gap: 1% 0;
    }
    
    #article_suscribete{
        grid-column: 1;
        grid-row: 1;
    }
    
    #pciture_img_formulario{
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 100%;
    }
    
    #formulario{
        grid-column: 1;
        grid-row: 3;
    }
    
    .form_label{
        margin-left: 5%;
    }
    
    #form_label_email{
        margin-left: 4.7%;
        margin-right: 7%;
    }
    
    .form_input{
        width: 50%;
        height: 25px;
        margin-left: 2.1%;
        border-bottom: 1px solid var(--navy);
        border-radius: 4px;
    }
    
    #terminos{
        margin: 3% 0 0 0;
        
    }
    
    #form_btn{
        width: 35%;
        height: 31px;
        margin-left: 32.5%;
    }

    /*Responsivo: Footer*/

    #pie_pagina{
        grid-template-columns: 100%;
        grid-template-rows: 25px 100px 100px 25px;
        gap: 2% 0;
    }
    
    
    #footer_sociales{
        grid-column: 1;
        grid-row: 1;
        display: flex;
        width: 100%;
    }
    
    #footer_info{
        grid-column: 1;
        grid-row: 2;
    }
    
    #footer_contacto{
        grid-column: 1;
        grid-row: 3;
    }
    
    #footer_derechos{
        grid-column: 1;
        grid-row: 4;
    }
    

    #footer_info{
        margin: 2.5% 0 20px 10%;
        width: 80%;
    }

    #footer_nombre_empresa{
        font-size: 16px;
        margin: 0 0 1% 0;
    }

    #footer_contacto{
        margin: 2.5% 0 0 10%;
        width: 80%;
    }

  }


  /*Responsivo: 480px*/
@media screen and (max-width:480px){

    body{
        grid-template-rows: 110px 8170px 268px;
    }

    #menu{
        font-size: 12px;
    }

    .btn_nav{
        width: 18%;
    }


    /*Responsivo: Redes sociales*/
    #sociales{
        width: 30px;
    }

    .img_social{
        font-size: 15px;
    }


    /*Responsivo: Titulos*/
    #titulo_pagina{
        font-size: 27px;
    }
    
    .subtitulo{
        font-size: 21px;
    }
    
    .titulo3{
        font-size: 15px;
    }

    #picture_logo{
        width: 100px;
        height: 60px;
        margin: 25px 0 0 0;
    }

}    


@media screen and (max-width:412px){

    body{
        grid-template-rows: 110px 8290px 268px;
    }

    #picture_logo{
        width: 90px;
        height: 50px;
        margin: 27px 0 0 10px;
    }

    #menu{
        font-size: 10px;
    }

    .btn_nav{
        width: 17%;
    }

    /*Responsivo: Titulos*/
    #titulo_pagina{
        font-size: 25px;
    }
    
    .subtitulo{
        font-size: 19px;
    }
    
    .titulo3{
        font-size: 13px;
    }

    /*Responsivo: Formulario*/
    #suscribete{
        display: grid;
        grid-template-rows: 150px 150px 205px;

    }

}    

