@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('./base.css');
@import url('./header.css');
@import url('./footer.css');



/*Definición del tamaño del main (Principal)*/
#principal{
    width: 100%;
}


/*Estilos a las redes sociales de la banda*/

#sociales{
    display: block;
    width: 45px;
    position: fixed; 
	right: 0;
	top: 140px;
	z-index: 2000;
    background: var(--navy);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn_social{
    width: 50px;
    height: 50px;
}

.img_social{
    color: white;
    font-size: 30px;
    margin: 5px 5px 5px 5px;
}

.img_social:hover{
    transition: all .6s ease;
    color: var(--red1);
}




/*Estilos de las secciones*/
.seccion{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: aquamarine;
}


/*Tiulos y subtitulos*/

#titulo_pagina{
    text-align: center;
    margin: 10px 0 25px 0;
    font-size: 40px;
}

.subtitulo{
    text-align: center;
    margin: 10px 0 18px 0;
    font-size: 28px;
}

.titulo3{
    margin: 10px 0 18px 5%;
    font-size: 21px;
}



/*Estilos de los parrafos*/
.parrafo{
    text-align: justify;
}

.parrafo_1{
    margin: 0 0 13px 0;
}

.parrafo_2{
    margin: 0 0 10px 0;
}

.parrafo_final{
    margin: 0 0 17px 0;
}


/*Estilos de imagenes*/
.picture_seccion{
    margin: 0 auto;
    display: flex;
    width: 780px;
}

.img_seccion{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/*Sección de integrantes*/
.seccion_integrantes{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100%;
    margin: 0 0 20px 0;

    border: 1.5px solid black;
    padding: 10px 0 10px 0;
    border-radius: 15px;
}

.picture_integrantes{
    grid-column: 1/1;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    
}

.picture_integrantes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto_integrantes{
    grid-column: 2/2;
}

.nombre_integrante{
    padding: 20px 0 15px 0;
    font-size: 18px;

}

#parrafo_cita{
    text-align: center;
}

#cita{
    text-align: center;
    font-style: italic;
    margin: 0 0 20px 0;
}


/*Seccion discografia*/
#canciones_top{
    margin: 0 0 20px 10%;
}

.articulo_album{
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 100%;
    margin: 0 0 20px 0;

    border: 1.5px solid black;
    padding: 10px 0 10px 0;
    border-radius: 15px;
}

.picture_album{
    grid-column: 1/1;
    width: 350px;
    height: 250px;
    margin: 0 auto;
    
}

.picture_album img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion_album{
    grid-column: 2/2;
}

.nombre_album{
    font-size: 18px;
    margin: 0 0 10px 0;
}



/*Seccion Formulario*/


input{
    border-bottom: 1px solid var(--navy);
    border-radius: 5px;
}

select{
    border-bottom: 1px solid var(--navy);
    border-radius: 5px;
    width: 20%;
}