@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('./base.css');
@import url('./header.css');
@import url('./footer.css');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

/*Sección de integrantes*/
.seccion_integrantes{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 50px 100%;
    grid-template-areas: 
    "nombre nombre"
    "picture descripcion";
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 10px 0 5px 0;
    margin: 0 0 20px 0;
}

.nombre_integrante{
    grid-area: nombre;
    text-align: center;
    padding-top: 12.5px;
    font-size: 18px;
}

.picture_integrantes{
    grid-area: picture;
    width: 70%;
    height: 80%;
    margin-left: 15%;
}

.descripcion_integrante{
    grid-area: descripcion;
    margin-right: 1%;
}

#parrafo_cita{
    text-align: center;
}

#cita{
    text-align: center;
    font-style: italic;
    margin: 0 0 20px 0;
}

/*Seccion discografia*/
#canciones_top{
    margin: 0 0 20px 10%;
}

#all_albums{
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 30px 290px 384px 364px;
    grid-template-areas:
    "title title" 
    "al1 al2"
    "al3 al4"
    "al5 al6";
    gap: 2% 2%;
    margin-bottom: 9%;
}

#title_all_album{
    grid-area: title;
}

#republica{
    grid-area: al1;
}

#a_quemarropa{
    grid-area: al2;
}

#buenos_dias{
    grid-area: al3;
}

#formas{
    grid-area: al4;
}

#souvenir{
    grid-area: al5;
}

#historias_minimas{
    grid-area: al6;
}

.articulo_album{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 230px;
    gap: 10px;
    grid-template-areas: 
    "nombre nombre"
    "picture canciones";
    border: 1px solid var(--navy);
    border-radius: 5px;
}

.nombre_album{
    grid-area: nombre;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.picture_album{
    grid-area: picture;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10%;
}

.lista_canciones{
    grid-area: canciones;
    margin-left: 12.5%;
}

/*Sección de redes sociales*/
#section_social{
    display: inline-block;
    background-color: var(--navy);
    margin-bottom: 1.5%;
    margin-top: 1%;
    margin-left: 34%;
    padding: 5px 0 5px 0;
    border-radius: 20px;
}

.btn_social{
    font-size: 25px;
    color: white;
    margin: 5px 15px 5px 15px;
    text-decoration: none;
}

.btn_social:hover{
    transition: all .6s ease;
    color: var(--red1);
}

/*Sección del formulario*/
#suscribete{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px 250px;
    gap: 1% 0;
    grid-template-areas:
    "cabeza cabeza" 
    "parrafo parrafo"
    "imagen formulario";
    border: 1px solid var(--navy);
    border-radius: 5px;
}

#title_suscribete{
    grid-area: cabeza;
}

#parrafo_formulario{
    grid-area: parrafo;
}

#pciture_img_formulario{
    grid-area: imagen;
    width: 100%;
    height: 100%;
}

#formulario{
    grid-area: formulario;
}

#parrafo_formulario{
    margin-left: 2%;
    margin-right: 2%;
}

#formulario{
    margin-top: 8%;
}

.form_label{
    margin: 0 2% 0 0;
}

#form_label_email{
    margin: 0 5.5% 0 0;
}

.form_input{
    width: 50%;
    height: 25px;
    margin: 0 0 2.1% 0;
    border-bottom: 1px solid var(--navy);
    border-radius: 4px;
}

#terminos{
    margin: 3% 0 0 0;
    cursor: pointer;
}

#form_btn{
    width: 35%;
    height: 31px;
    margin: 6% 0 0 20%;
    cursor: pointer;
    background-color: var(--red1);
    color: white;
    border-radius: 5px;
    border-bottom: 1px solid var(--navy);
} 

/*Responsivo screen 720px*/
@media screen and (max-width:720px){

    body{
        grid-template-rows: 110px 9190px 268px;
    }

    /*Responsivo:Menu Horizontal*/
    #picture_logo{
        width: 110px;
        height: 70px;
        margin: 20px 0 0 15px;
    }

    #menu{
        
        justify-content: center;
        font-size: 14px;
    }

    /*Titulos, subtitulos, titulos de 3 nivel*/
    #titulo_pagina{
        font-size: 30px;
    }
    
    .subtitulo{
        font-size: 24px;
    }
    
    .titulo3{
        font-size: 18px;
    }

    .titulo4{
        font-size: 13px;
    }

    /*Responsivo: Integrantes*/
    .seccion_integrantes{
        grid-template-columns: 100%;
        grid-template-rows: 50px 200px 1fr;
        margin: 0 0 20px 0;
        padding: 10px 0 10px 0;
    }

    .nombre_integrante{
        grid-column: 1;
        grid-row: 1;
        grid-area: nombre;
        text-align: center;
        padding-top: 12.5px;
        font-size: 18px;
    }
    
    .picture_integrantes{
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 90%;
        margin: 0 auto;
    }
    
    .descripcion_integrante{
        grid-column: 1;
        grid-row: 3;
        margin: -1% 1% 6% 1%;
    }

    /*Responsivo: Discografia*/
    #all_albums{
        grid-template-columns: 100%;
        grid-template-rows: 50px 460px 460px 460px 630px 500px 560px;
        gap: 0.5% 0;
        margin-bottom: 23%;
    }

    #title_all_album{
        grid-column: 1;
        grid-row: 1;
    }
    
    #republica{
        grid-column: 1;
        grid-row: 2;
    }
    
    #a_quemarropa{
        grid-column: 1;
        grid-row: 3;
    }
    
    #buenos_dias{
        grid-column: 1;
        grid-row: 4;
    }
    
    #formas{
        grid-column: 1;
        grid-row: 5;
    }
    
    #souvenir{
        grid-column: 1;
        grid-row: 6;
    }
    
    #historias_minimas{
        grid-column: 1;
        grid-row: 7;
    }

    .articulo_album{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 230px 50px;
        gap: 10px;
    }

    .nombre_album{
        grid-column: 1;
        grid-row: 1;
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    .picture_album{
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 90%;
        margin: 0 auto;   
    }
    
    .lista_canciones{
        grid-column: 1;
        grid-row: 3;
        margin-left: 20%;
    }

    /*Responsivo: Redes sociales*/
    #section_social{
        margin-bottom: 2%;
        margin-left: 20%;
        padding: 4px 0 4px 0;
    }

    .btn_social{
        font-size: 20px;
    }

    /*Responsivo: Formulario*/
    #suscribete{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 60px 150px 235px;
        gap: 1% 0;
    }
    
    #title_suscribete{
        grid-column: 1;
        grid-row: 1;
    }
    
    #parrafo_formulario{
        grid-column: 1;
        grid-row: 2;
    }
    
    #pciture_img_formulario{
        grid-column: 1;
        grid-row: 3;
        width: 100%;
        height: 100%;
    }
    
    #formulario{
        grid-column: 1;
        grid-row: 4;
    }
    
    .form_label{
        margin-left: 5%;
    }
    
    #form_label_email{
        margin-left: 4.7%;
        margin-right: 5%;
    }
    
    .form_input{
        width: 50%;
        height: 25px;
        margin-left: 2.1%;
        border-bottom: 1px solid var(--navy);
        border-radius: 4px;
    }
    
    #terminos{
        margin: 3% 0 0 0;
    }
    
    #form_btn{
        width: 35%;
        height: 31px;
        margin-left: 32.5%;
    }

    #field_terminos{
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
    }

    #terminos{
        margin-left: 4.7%;
    }

    #label_terminos{
        width: 90%;
        padding-top: 2.8%;
    }

    /*Responsivo: Footer*/
    #pie_pagina{
        grid-template-columns: 100%;
        grid-template-rows: 25px 100px 100px 25px;
        gap: 2% 0;
    }
    
    #footer_sociales{
        grid-column: 1;
        grid-row: 1;
        display: flex;
        width: 100%;
    }
    
    #footer_info{
        grid-column: 1;
        grid-row: 2;
    }
    
    #footer_contacto{
        grid-column: 1;
        grid-row: 3;
    }
    
    #footer_derechos{
        grid-column: 1;
        grid-row: 4;
    }
    
    #footer_info{
        margin: 2.5% 0 20px 10%;
        width: 80%;
    }

    #footer_nombre_empresa{
        font-size: 16px;
        margin: 0 0 1% 0;
    }

    #footer_contacto{
        margin: 2.5% 0 0 10%;
        width: 80%;
    }

}

  /*Responsivo: 480px*/
@media screen and (max-width:480px){

    body{
        grid-template-rows: 230px 9340px 280px;
    }

    /*Responvio: Header*/
    #picture_logo{
        width: 110px;
        height: 70px;
        margin: 82.5px 0 0 75px;
    }

    #menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-right: 20%;
    }

    .btn_nav{
        width: 100px;
        height: 17px;
    }

    /*Responsivo: Titulos*/
    #titulo_pagina{
        font-size: 27px;
    }
    
    .subtitulo{
        font-size: 21px;
    }
    
    .titulo3{
        font-size: 15px;
    }

    /*Responsivo: Integrantes*/
    .nombre_integrante{
        padding-top: 10px;
        font-size: 17px;
    }

    /*Responsivo: Album*/
    #all_albums{
        grid-template-rows: 50px 460px 460px 460px 630px 500px 590px;
        margin-bottom: 35%;
    }

    .nombre_album{
        font-size: 16px;
        margin-top: 5%;
    }

        /*Sección de redes sociales*/
    #section_social{
        margin-left: 15%;
        padding: 4px 0 4px 0;
    }
    
    .btn_social{
        font-size: 17px;
        margin: 5px 10px 5px 10px;
    }

    /*Responsivo:Formulario*/
    #suscribete{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 100px 150px 218px;
        gap: 1% 0;
    }

    #title_suscribete{
        grid-column: 1;
        grid-row: 1;
    }
    
    #parrafo_formulario{
        grid-column: 1;
        grid-row: 2;
    }
    
    #pciture_img_formulario{
        grid-column: 1;
        grid-row: 3;
        width: 100%;
        height: 100%;
    }
    
    #formulario{
        grid-column: 1;
        grid-row: 4;
    }

    #form_label_email{
        margin-left: 4.7%;
        margin-right: 7%;
    }

    #field_terminos{
        display: flex;
        justify-content: space-between;
    }

    #terminos{
        margin-left: 5%;
    }

    #label_terminos{
        width: 90%;
        padding-top: 5%;
        margin-left: 5%;
    }

}    

/*Responsivo: 412*/
@media screen and (max-width:412px){

    body{
        grid-template-rows: 220px 9520px 268px;
    }

    /*Responsivo: Header*/
    #picture_logo{
        width: 100px;
        height: 60px;
        margin: 82.5px 0 0 70px;
    }

    #menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-right: 17%;
    }

    .btn_nav{
        font-size: 14px;
        width: 90px;
        height: 17px;
    }

    /*Responsivo: Titulos*/
    #titulo_pagina{
        font-size: 25px;
    }
    
    .subtitulo{
        font-size: 19px;
    }
    
    .titulo3{
        font-size: 15px;
    }

    /*Responsivo: Integrantes*/
    .nombre_integrante{
        padding-top: 10px;
        font-size: 17px;
    }
    
    /*Responsivo: Album*/
    #all_albums{
        grid-template-rows: 50px 460px 460px 460px 630px 500px 590px;
        margin-bottom: 40%;
    }
    
    .nombre_album{
        font-size: 13px;
        margin-top: 5%;
    }

    /*Responsivo: Red Social*/
    #section_social{
        margin-left: 17%;
        padding: 4px 0 4px 0;
    }
    
    .btn_social{
        font-size: 15px;
        margin: 3px 7px 3px 7px;
    }

    /*Responsivo: Formulario*/
    #suscribete{
        grid-template-rows: 50px 100px 150px 218px;
        gap: 1% 0;
    }

    #title_suscribete{
        grid-column: 1;
        grid-row: 1;
    }
    
    #parrafo_formulario{
        grid-column: 1;
        grid-row: 2;
    }
    
    #pciture_img_formulario{
        grid-column: 1;
        grid-row: 3;
        width: 100%;
        height: 100%;
    }
    
    #formulario{
        grid-column: 1;
        grid-row: 4;
    }

    #form_label_email{
        margin-left: 4.7%;
        margin-right: 8%;
    }

}   